.vs
Binaries
Build
DerivedDataCache
Intermediate
Saved
Plugins
*_WwiseProject
Config/DefaultGame.ini
Content/Atenfyr
Content/Developers
Content/StarterContent
Content/*.umap
Content/Level_BuildData.uasset
*.uproject
*.sln
*.py